@CHARSET "UTF-8";

body {
	font-family: Trebuchet MS;
	font-size: 13px;
}

#divform {
	
	width: 410px;
	height: 560px;
	margin: 0 auto;
	background-color: #b3d8ff;
	
}

#form {
	margin: auto;
	width: 360px;
	height: 540px;
	padding-top: 10px;
}

#mtext {
	font-size: 18px;
}

label {
	display: inline-block;
	width: 110px;
}

label#courtesy {
	width: 20px;
}

option.placeholder {
	display: none;
}

textarea {
	resize: none;
}

div {
	margin: 5px;
}

#divnotes * {
	vertical-align: top;
}

#first_name, #last_name, #region, #postcode, #country {
	width: 100px;
}

#address, #notes {
	width: 230px;
}