@CHARSET "UTF-8";

body {
	font-family: Calibri;
	font-size: 16px;
}

#container {
	width: 750px;
	margin: 5px auto;
}

#container > header {
	min-height: 100px;
	background-color: #b1d877;
}

header > div {
	line-height: 100px;
	text-align: center;
	color: white;
}

header > div > div {
	width: 50px;
	height: 60px;
	font: 50px Monaco, MonoSpace;
	display: inline-block;
}

header > div > div:hover {
	width: 70px;
	height: 80px;
	font-size: 60px;
}

#s1 {
	transform: rotate(10deg);
	background-color: red;
}
#s2 {
	transform: rotate(5deg);
	background-color: pink;
}
#s3 {
	transform: rotate(-10deg);
	background-color: #ff9933;
}
#s4 {
	transform: rotate(-5deg);
	background-color: green;
}
#s5 {
	transform: rotate(10deg);
	background-color: brown;
}
#s6 {
	transform: rotate(3deg);
	background-color: lightblue;
}
#s7 {
	transform: rotate(-5deg);
	background-color: purple;
}

#container > section {
	min-height: 700px;
	margin: 5px 0;
}

#container > section > * {
	display: inline-block;
	height: 700px;
	float: left;
}

#container > section > nav {
	width: 19%;
	background-color: #ff884d;
}

#container > section > article {
	width: 80%;
	margin: 0 0 0 1%;
	background-color: #ff9933;
}

#container > footer {
	min-height: 50px;
	background-color: #b1d877;
}

footer > h3 {
	line-height: 50px;
	text-align: center;
}

nav > ul {
	width: 95%;
	margin: 2.5%;
	height: 300px;
}

nav > ul > li {
	height: 20%;
	line-height: 60px;
	margin: auto;
	text-align: center;
}

nav > ul > li:hover {
	background-color:  #ff9966;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}




