@CHARSET "UTF-8";

li.l2 {
	border-right: 5px solid #ff9966;
}

article {
	color: white;
}

article > img {
	padding: 10px;
}

article > img{
	float: left;
	shape-outside:circle();
	-moz-shape-outside:circle();
	-webkit-shape-outside:circle();
}

article > p {
	padding: 30px 10px;
}

p > a {
	text-decoration: underline !important;
}