@CHARSET "UTF-8";

li.l4 {
	border-right: 5px solid #ff9966;
}

table {
	margin: 50px auto;
}
table > thead > tr > th:first-child {
	width: 150px;
	font-weight: bold;
}

table > thead > tr > th:last-child {
	width: 75px;
	font-weight: bold;
}

tr {
	height: 35px;
	line-height: 35px;
}

th, td {
	border: 2px solid black;
	text-align: center;
}

td {
	border-bottom: 2px dotted black;
	border-top: 2px dotted black;
}

tr:last-child td {
	border-bottom: 2px solid black;
}

b {
	font-weight: bold;
	font-size: 1.3em;
}